<div class="jumbotron">
    <h1>Welcome To My Blog</h1>
    <p>This is place where you can find everything about technical, live and whatever that you like..</p>
    <p>Click button below for dicovering</p>
    <button class="btn btn-lg btn-danger" ng-click="alert()">Click Me</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Launch demo modal
                </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <ul ng-repeat="contact in contacts">
                        <li>{{ contact.name }}</li>
                        <li>{{ contact.email }}</li>
                        <li>{{ contact.number }}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>